.navbar{
  color: black;
  display:flex;
  margin: 0;
  padding: 3px;
  font-family: serif;
  background-color: burlywood;
}
.navbar ul{
  margin-left: 40%;
  display: flex;
}
.navbar ul li{
  list-style: none;
  padding:0px;
  margin:5px;
}
.navbar ul li a{
 text-decoration:none;
 color: black;
 text-align: center;
 padding: 0px 20px 20px 12px;
 margin-bottom: 20px;
 font-size: 17px;
}
.navbar ul li:hover{
  display: block;
}
.agva{
margin-left: 8%;
margin-top: 1%;
color:darkmagenta;
font-size: larger;
}
